














@import url(./drake/font.css);
@include-when-export url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');





:root {
    /*修改边框栏目与search*/
    --text-color: #202124;
    --bg-color: rgb(249, 245, 232);
    --control-text-color: var(--text-color);
    --meta-content-color: var(--text-color);
    --active-file-border-color: var(--drake-accent);
    --rawblock-edit-panel-bd: var(--code-block-bg-color);
    --item-hover-bg-color: #E5E5E596;
    --active-file-bg-color: var(--item-hover-bg-color);

    --blur-text-color: #c8c8c8;
    --md-char-color: #535455;
    --side-bar-bg-color: var(--bg-color);
    --search-select-bg-color: #ffffff;
    --search-select-text-color: var(--bg-color);
    --select-text-bg-color: #3473B068;
    --window-border: 1px solid #282828;


    --drake-accent: #5784ec;
    --drake-highlight: #197bc1;
    --a-color: #0d888d;
    --variable-color: #d01884;
    --outline-active-color: var(--a-color);
    --code-block-bg-color: #282C34;
    --code-block-color: #C3D3DE;
    --title-color: #202124;
    --title-color0: #0b557f;
    --blockquote-border-color: #3b659c;
    --blockquote-color: #275796;
    --blockquote-bg-color: #e5f4fd;
    --strong-color: var(--title-color0);
    --h2-underline-color: var(--title-color);
    --horizontal-divider-color: var(--title-color);
    --height-light-color: var(--drake-highlight);
    --height-light-border-color: var(--drake-highlight);
    --yaml-color: #777777;
    --yaml-bg-color: #f7f7f7;
    --footnotes-bg-color: #3c3d3e;
    --footnotes-highlight: #fee39f;
    --table-border-color: #fbe4b7;
    --table-header-bg-color: #f8efcb;
    --table-bg-color: var(--bg-color);
    --table-n2-bg-color: var(--bg-color);
    --input-bg-color: var(--item-hover-bg-color);
    --btn-hover-bg-color: var(--item-hover-bg-color);
    --checkbox-checked: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M425.984 726.016l384-384-59.99-61.995-324.01 324.011-152.021-152.021L213.973 512zm384-598.016q36.01 0 61.013 25.984T896 213.974v596.01q0 34.005-25.003 59.99t-61.013 25.983h-596.01q-36.011 0-61.014-25.984t-25.003-59.989v-596.01q0-34.006 25.003-59.99T213.973 128h596.011z' fill='%2365b73b'/%3E%3C/svg%3E");
    --checkbox-unchecked: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M810.667 213.333v597.334H213.333V213.333h597.334m0-85.333H213.333C166.4 128 128 166.4 128 213.333v597.334C128 857.6 166.4 896 213.333 896h597.334C857.6 896 896 857.6 896 810.667V213.333C896 166.4 857.6 128 810.667 128z' fill='%23333333'/%3E%3C/svg%3E");
}




html {
    --alice-bg-color: rgb(249, 245, 232);
    --alice-title-color: #0079D2;
    --alice-font-color: rgb(102, 55, 24);
    --alice-important-color: rgb(162, 42, 42);
    background: var(--alice-bg-color);
    font-size: 16px;
    font-family: "Helvetica";
}



body {
    font-family: "Helvetica" !important;
    color: var(--text-color);
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

p {
    line-height: var(--text-line-height);
}


/*inline latex*/
.MathJax {
    font-size: 105% !important;
}
.MathJax text, .MathJax use {
    font-family: var(--latex-font);
}
/*math-block latex*/
.md-math-block .MathJax {
    font-size: 100% !important;
}



/*quote block*/
blockquote:before {
    display: block;
    position: absolute;
    content: '';
    width: 2px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blockquote-border-color);
    border-radius: 2px;
}

blockquote {
    color: var(--blockquote-color);
    border-radius: 2px;
    padding: 10px 16px;
    background-color: var(--blockquote-bg-color);
    position: relative;
    border-left: none;
}

#write strong {
    color: #a22a2a;
    font-weight: bold;
}
#write blockquote strong {
    color: var(--blockquote-color);
}


/*link*/
#write a {
    color: var(--a-color);
    text-decoration: none;
}
#write h2 a .md-plain {
    border-bottom: .2rem solid var(--a-color);
}
.on-focus-mode #write a .md-plain, .on-focus-mode .md-htmlblock-container a:hover {
    border-bottom: .1rem solid var(--blur-text-color);
}
#write a .md-plain, .md-htmlblock-container a:hover,
.on-focus-mode #write .md-focus a .md-plain, .md-focus .md-htmlblock-container a:hover {
    border-bottom: .1rem solid var(--a-color);
}
[md-inline=link] a {
    margin: 0 .2rem;
}
a:any-link {
    color: var(--a-color);
}

img {
    border-left: none;
    border-right: none;
    vertical-align: baseline;
    border-radius: 2px;
}

#write {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px 100px;
}
#typora-source .CodeMirror-lines {
    max-width: 1200px;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}



/*标题*/
h1,
h2,
h3,
h4,
h5
{
    font-family: var(--title-font);
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    color: var(--title-color);
}

h3.md-focus:before, h4.md-focus:before, h5.md-focus:before {
    visibility: hidden;
}

h1 {
    margin: 0 auto;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    padding: 4px 2em;
    line-height: 1.35;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 0;
    color: #fff;
    width: max-content !important;
    background-color: rgb(78, 146, 209);
}

h2 {
    border-left: 3px solid rgb(60, 138, 167);
    padding-left: 0.5em;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.on-focus-mode h2.md-end-block.md-heading:not(.md-focus):not(.md-focus-container):after {
    background-color: var(--blur-text-color) !important;
}

h3 {
    border-left: 3px solid rgb(60, 138, 167);
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    padding-left: 0.4em;
}

h4 {
    border-left: 2.5px solid rgb(60, 138, 167);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-left: 0.3em;
}

h5 {
    border-left: 2px solid rgb(60, 138, 167);
    font-size: 1.4rem;
    padding-left: 0.2em;
}

h6 {
    font-size: 1.2rem;
    color:rgb(24, 137, 145);
    padding-left: 0.1em;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor{
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: 0.5rem inherit !important;
}

h2 tt,
h2 code {
    font-size:  0.5rem inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}



p, blockquote, ul, ol, dl, table {
    margin: var(--p-spacing) 0;
}

li > ol,
li > ul {
    margin: 0 0;
}
li {
    margin: 0.5em 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--horizontal-divider-color);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5{
    margin-top: 0;
    padding-top: 0;
}


h1 p,
h2 p,
h3 p,
h4 p,
h5 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul, ol {
    padding-inline-start: 2em;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}




/*表格*/


table {
    width: 100%;
    font-size: 1rem;
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    padding: 12px;
    line-height: 1.2;
    vertical-align: top;
    border-top: 1px solid var(--table-border-color);
}

table tbody {
    border-bottom: 2px solid var(--table-border-color);
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--table-border-color);
}

table>caption+thead>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>th,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid var(--table-border-color);
}

#write table thead th {
    background-color: var(--table-header-bg-color);
}



/* height light */
mark {
    border: .15em solid var(--height-light-border-color);
    color: var(--height-light-color) !important; 
    background-color: transparent;
    padding: .1rem .5rem;
    border-radius: 2rem;
    margin: 0 .2rem;
    font-size: .95rem;
}


/* 列举 */


li span {
   
}

#write li strong{
    color: #181616;
}





/*code block*/
.md-fences {
    font-size: 0.8rem;
    padding: 0.5rem !important;
    border-radius: 2px;
    word-wrap: normal;
    background-color: var(--code-block-bg-color);
    color: var(--code-block-color) !important;
    border: none;
    line-height: var(--code-line-height);
}


/**
    code render
    Name: Ayu
    From https://github.com/ayu-theme/ayu-colors
 */
 .cm-s-inner.CodeMirror {
    background: none;
    color: var(--code-block-color);
}
.cm-s-inner span.cm-meta {
    color: #BBB529;
}
.cm-s-inner span.cm-number {
    color: #5ac1ba;
}
.cm-s-inner span.cm-keyword {
    color: #C679DD;
}
.cm-s-inner span.cm-def {
    color: #ffd580;
}
.cm-s-inner span.cm-variable {
    color: var(--code-block-color);
}
.cm-s-inner span.cm-variable-2 {
    color: var(--code-block-color);
}
.cm-s-inner span.cm-variable-3 {
    color: #9876AA;
}
.cm-s-inner span.cm-type {
    color: #AABBCC;
}
.cm-s-inner span.cm-property {
    color: #6dbdff;
}
.cm-s-inner span.cm-operator {
    color: var(--code-block-color);
}
.cm-s-inner span.cm-string {
    color: #98c379;
}
.cm-s-inner span.cm-string-2 {
    color: #98c379;
}
.cm-s-inner span.cm-comment {
    color: #5c6773;
}
.cm-s-inner span.cm-link {
    color: #ffa759;
}
.cm-s-inner span.cm-atom {
    color: #ffa759;
}
.cm-s-inner span.cm-error {
    color: #d1675a;
}
.cm-s-inner span.cm-tag {
    color: #E8BF6A;
}
.cm-s-inner span.cm-quote {
    color: #a6e22e;
}
.cm-s-inner span.cm-attribute {
    color: #9876AA;
}
.cm-s-inner span.cm-qualifier {
    color: #6A8759;
}
.cm-s-inner span.cm-bracket {
    color: #E8BF6A;
}
.cm-s-inner span.cm-builtin {
    color: #ff5959;
}
.cm-s-inner span.cm-special {
    color: #ff5959;
}
.cm-s-inner span.cm-matchhighlight {
    color: var(--code-block-color);
    background-color: rgba(50, 89, 48, .7);
    font-weight: normal;
}
.cm-s-inner span.cm-searching {
    color: var(--code-block-color);
    background-color: rgba(61, 115, 59, .7);
    font-weight: normal;
}
.cm-s-inner .CodeMirror-gutters {
    border-right: none;
    border-radius: 2px;
    padding-left: 0.5rem;
    background: var(--code-block-bg-color);
}
.cm-s-inner .CodeMirror-linenumber {
    color: #5c6773;
}
.cm-s-inner .CodeMirror-matchingbracket {
    background-color: #3B514D;
    color: #FFEF28 !important;
}
.cm-s-inner .CodeMirror-selected {
    background: #214283 !important;
}
.cm-s-inner .CodeMirror-selectedtext {
    background: #214283 !important;
}
.cm-s-typora-default .CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}
.cm-overlay.CodeMirror-selectedtext {
    background: var(--select-text-bg-color) !important;
}
.cm-s-inner div.CodeMirror-cursor {
    border-left: 1px solid var(--code-block-color);

